In [0]:
# importando a biblioteca pandas
import pandas as pd

In [0]:
# Criando dataframe
dados = {'nome': ['João', 'Carol', 'Carlos', 'Amanda'], 'idade': [23, 41, 13, 7], 'sexo': ['M', 'F', 'M', 'F']}
df = pd.DataFrame(data=dados)

In [0]:
# Exibe as primeiras 5 linhas da base de dados
df.head()

,nome,idade,sexo
0,João,23,M
1,Carol,41,F
2,Carlos,13,M
3,Amanda,7,F

In [0]:
# Separando homens e mulheres em novos dataframes
df_homens = df[df['sexo'] == 'M']
df_mulheres = df[df['sexo'] == 'F']

In [0]:
# Média de idade entre os homens
df_homens['idade'].mean()

Out[6]: 18.0

In [0]:
# Média de idade entre as mulheres
df_mulheres['idade'].mean()

Out[7]: 24.0

### Pandas API

In [0]:
import pyspark.pandas as ps

In [0]:
# Criando o mesmo dataframe, agora utilizando a biblioteca pyspark.pandas
df2 = ps.DataFrame(data=dados)

In [0]:
df2.head()

,nome,idade,sexo
0,João,23,M
1,Carol,41,F
2,Carlos,13,M
3,Amanda,7,F

In [0]:
# Separando homens e mulheres em novos dataframes
df_homens = df[df['sexo'] == 'M']
df_mulheres = df[df['sexo'] == 'F']

In [0]:
# Média de idade entre os homens
df_homens['idade'].mean()

Out[13]: 18.0

In [0]:
# Média de idade entre as mulheres
df_mulheres['idade'].mean()

Out[14]: 24.0